# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\brightro99\Desktop\Workspace\FaceOnDisc\build\DiscDemo\ codebase based on best match to current usage at 2024-11-05
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
root = true

[*]
charset = utf-8
# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = true